body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("#{resource['images/login_background.png']}");
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

.login_link {
	color: #240824;
	font-weight: 630;
}

.login_create_account {
	margin-left: 5px;
}

.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #f4f4f4;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 130px;
	width: 130px;
	margin: 9px;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #240824 !important;
	border-radius: 30px !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.input-group-text {
	background: #9dbf7a !important;
	color: white !important;
	border: 0 !important;
	border-radius: 30px 0 0 30px !important;
	padding-left: 15px;
}

.input-group {
	border-radius: 30px;
}

.input_user, .input_pass {
	border-radius: 30px;
}

.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~.custom-control-label::before
	{
	background-color: #9dbf7a !important;
}